/* Estilo SECCION BANNER*/
.banner {
    height: 15rem;
    width: 100%;
    background: url('../imagenes/FONDO.jpg') center /cover no-repeat;
    color: white;
    display: flex;
}

.banner-contenido {
    margin-top: 6rem;
    margin-left: 1rem;
}

.banner-titulo {
    font-size: 2rem;
    padding-bottom: 10px;
}

.banner-texto {
    font-size: 1rem;
    padding: 10px 0 10px;
}

.banner-boton {
    top: 119px;
    padding: 1rem;
    background-color: #2A7AE4;
    border-style: none;
    color: white;
}