.productos {
    margin-left: 1rem;
}

.star-wars-lista, .consolas-lista, .diversos-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.star-wars-titulo, .consolas-titulo, .diversos-titulo {
    display: inline;
    font-family: 'Raleway';
    font-size: 1.5rem;
    font-weight: 800;
}

.contenedor-star-wars, .contenedor-consolas, .contenedor-diversos {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 1rem 0rem;
}

.star-wars__link, .consolas__link, .diversos__link {
    margin-right: 1.5rem;
}

.star-wars__link a, .consolas__link a, .diversos__link a, .detalle {
    text-decoration: none;
    color: #2A7AE4;
}

.star-wars__link img, .consolas__link img, .diversos__link img {
    margin-left: 0.5rem;
}

.star-wars-item, .consolas-item, .diversos-item {
    margin-bottom: 1rem;
}

.nombre, .precio, .detalle {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.imagen {
    width: 90%;
}