body {
    color: #464646;
    font-family: Raleway;
    font-style: normal;
    width: auto;
    border: 1px solid red;
}

/*Estilo HEADER*/

.header {
    display: flex;
    justify-content: space-around;
    height: 4rem;
    margin-top: 1rem;
}

.header__contenedor__logo-img {
    margin-left: 1rem;
    width: 35%;
}

.header__contenedor__login {
    width: 35%;
}

.header__contenedor__login-boton {
    padding: 1rem 3rem;
    background-color: #fff;
    color: #2a7ae4;
    border:1px solid #2a7ae4;
}

.header__contenedor__buscar {
    width: 15%;
}

.header__contenedor__buscar-input {
    background: url('../imagenes/lupa.svg') right / 1rem no-repeat;
    background-color: #F5F5F5;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    width: inherit;
    margin: 0 2rem;
}    