body {
    color: #464646;
    font-family: Raleway;
    font-style: normal;
    width: 377px;
}

/*Estilo HEADER*/

.header__contenedor {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 6rem;
}

.header__contenedor__logo-img {
    align-self: center;
}

.imagen {
    width: 85%;
}

.header__contenedor__buscar {
    align-self: center;
    margin-left: 1rem;
    margin-right: -3rem;
}

.header__contenedor__buscar-input {
    background: url('../imagenes/lupa.svg') right / 1rem no-repeat;
    background-color: #F5F5F5;
    border: none;
    border-radius: 1rem;
    padding: 1rem 0;
    width: 50%;
}

.header__contenedor__login {
    align-self: center;
}

.header__contenedor__login-boton {
    padding: 1rem 3rem;
    background-color: #fff;
    color: #2a7ae4;
    border:1px solid #2a7ae4;
}