.rodapie {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #EAF2FD;
    text-align: center;
}

.rodapie-texto p{
    margin-bottom: 0.5rem;
}
.rodapie-formulario form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 1rem;
}

.rodapie-formulario p {
    font-weight: bold;
    text-align: left;
}

.rodapie-form-titulo, .rodapie-form-nombre, .rodapie-form-texto {
    margin-bottom: 1rem;
    border: none;
}

.rodapie-label, .rodapie-form-nombre, .rodapie-form-texto {
    margin-right: 1rem;
}

.rodapie-label {
    background-color: white;
    padding-bottom: 0.5rem;
}

.rodapie-form-boton {
    background-color: #2A7AE4;
    border-radius: 0px;
    padding: 1rem;
    color: #FFFFFF;
    border: none;
    margin: 1rem 15rem 1rem 0;
}