/* Estilo SECCION BANNER*/

#banner {
    height: 450px;
    width: 100%;
    background-image: url('imagenes/FONDO.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    display: inline-block;
}

#banner-contenido {
    margin-top: 250px;
    margin-left: 50px;
}

#banner-titulo {
    font-size: 52px;
    padding-bottom: 10px;
}

#banner-texto {
    font-size: 22px;
    padding: 10px 0 10px;
}

#banner-boton {
    height: 51px;
    width: 129px;
    left: 0px;
    top: 119px;
    border-radius: 0px;
    padding: 16px;
    background-color: #2A7AE4;
    border-style: none;
    color: white;
}